.popUps {
    position: absolute;
    width: 170px;
    padding: 3px;
    border: 2px solid black;
}

.popUps p {
    margin: 0;
}

.popUpRon {
    top: 25.5%;
    left: 31.5%;
    background-color: #ed5132;
}

.popUpLuna {
    top: 53%;
    left: 19%;
    background-color: #f16274;
}

.randomFactPopUp {
    position: absolute;
    background-color: #f16274;
    bottom: 35.7%;
    left: 19%;
    width: 170px;
    min-height: 86px;
    border: 2px solid black;
    padding: 3px;
}

.randomFactPopUp p {
    margin: 5px;
    margin-top: 15px;
}

.popUpDumbledoor {
    background-color: #a08fb1;
    top: 7%;
    left: 63%;
}

.popUpHedwig {
    background-color: #efefef;
    top: 16%;
    left: 81.5%;
}

.popUpHermione {
    background-color: #f9b145;
    top: 50.5%;
    left: 81.5%;
}

.detailsPopUp {
    position: absolute;
    background-color: black;
    color: white;
    top: 25%;
    left: 25%;
    width: 480px;
    height: 345px;
}

.detailsPopUp p {
    margin: 15px;
}

.closePopUp {
    position: absolute;
    right: .5%;
    top: .5%;
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}

.closePopUpLuna {
    color: black;
}

.closeCV {
    position: absolute;
    right: .5%;
    top: .2%;
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.CV {
    position: absolute;
    border: 2px solid black;
    top: 5%;
    left: 80px;
    width: 804px;
}

.downloadCV {
    position: absolute;
    right: 30px;
    top: .2%;
    color: white;
}