* {
    box-sizing: border-box;
    text-align: center;
}

.game {
    margin-top: 15px;
}

svg {
    width: 960px;
    height: 690px;
}

footer {
    display: flex;
    justify-content: center;
}

footer p {
    padding: 0 10px;
}