* {
    box-sizing: border-box;
}

/* .game {
    padding: 15px 15px;
} */

.board {
    width: 960px;
    height: 690px;
    z-index: -1;
    position: relative;
}

.positionAbsolute {
    /* padding: 15px 15px; */
    /* width: 960px; */
    position: absolute;
    top: 20%;
    left: 20%;
}

footer {
    display: flex;
    justify-content: center;
}

footer p {
    padding: 0 10px;
}