* {
    box-sizing: border-box;
}

.game {
    width: 960px;
    margin: 10px auto;
    position: relative;
}

.board {
    width: 960px;
    height: 690px;
    z-index: -1;
}

.popUps {
    position: absolute;
    width: 170px;
    padding: 3px;
    border: 2px solid black;
}

.popUps p {
    margin: 0;
}

.popUpRon {
    top: 25.5%;
    left: 31.5%;
    background-color: #ed5132;
}

.popUpLuna {
    top: 53%;
    left: 19%;
    background-color: #f16274;
}

.popUpDumbledoor {
    background-color: #a08fb1;
    top: 7%;
    left: 63%;
}

.popUpHedwig {
    background-color: #efefef;
    top: 16%;
    left: 81.5%;
}

.popUpHermione {
    background-color: #f9b145;
    top: 50.5%;
    left: 81.5%;
}

.detailsPopUp {
    position: absolute;
    background-color: black;
    color: white;
    top: 25%;
    left: 25%;
    width: 480px;
    height: 345px;
}

.detailsPopUp p {
    margin: 15px;
}

.closePopUp {
    position: absolute;
    right: .5%;
    top: .5%;
}

form p {
    margin: 15px;
}

footer {
    display: flex;
    justify-content: center;
}

footer p {
    padding: 0 10px;
}